numpy
einops==0.6.1
icecream==2.1.3
imageio==2.10.1
MedPy==0.4.0
nibabel==4.0.2
monai==1.1.0
opencv_python
pycocotools==2.0.6
safetensors==0.3.1
scipy
SimpleITK
tensorboardX==2.6
torch
torchvision
tqdm==4.62.3
ml-collections==0.1.1
onnx
onnxruntime
ftfy
regex